/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color : white;
}

body {
  font-family:  Arial, sans-serif;
  line-height: 1.6;
  
}

/* Header layout */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-header {
  display: inline-block;
  padding: 5px 15px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.btn-header:hover {
  text-decoration: none;
  color : white;
  background-color: yellowgreen;
  cursor: pointer;
}
/* Logo */
.logo {
  color : white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.logo:hover {
  text-decoration: none;
  color: yellowgreen;
}
.main-text {
  font-size: 2rem;
  font-weight:900;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left:100px ;
  
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}


/* Vertical Nav */
.vertical-nav {
  width: 120px;
  background: black;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  padding-bottom: 200px;
}

/* Nav List */
.nav-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-list ul {
  list-style: none;
  position: relative;
}

.nav-list ul::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background: #333;
  transform: translateX(-50%);
}

/* Each Item */
.nav-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #666;
  font-size: 0.9rem;
  margin: 40px 0;
  position: relative;
}

.nav-list .num {
  font-size: 0.8rem;
  color: #888;
  transition: color 0.3s;
}

/* Dots */
.nav-list li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #888;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Text links */
.nav-list a {
  text-decoration: none;
  color: #888;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
}

/* Active and hover */
.nav-list li:hover .num {
  color: greenyellow;
}


.nav-list li:hover a {
  color: #fff;
  opacity: 1;
  text-decoration: none;
  transform: translateX(10px);
}

.nav-list li.active::before,
.nav-list li:hover::before {
  background: #007bff;
}



.main-container {
  margin-top: 60px;
  margin-left: 50px ;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.main{
  background: black; /* placeholder background */
  text-align: center;
  margin: auto;
  height: 100vh;
  width : 100%;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.main p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin-top : 35px
}

.btn:hover {
  background: rgb(132, 211, 13);
}

.specialize {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.specialized-work {
  background-color: rgb(86, 86, 86);
  padding: 30px 10px;
  border-radius: 10px;
  margin : 5px;
  flex: 1 1 250px;
  max-width: 250px; 

}




/* Selected Work */
.selected-work {
  padding: 50px 0;
  background: black;
  height : 100vh;
}

.selected-work h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width : 45vw;
  max-width: 1000px;
}

.carousel a {
  margin-bottom: 90px;
  }


.carousel-item img {
  width : 100%;
  height : auto;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
}

.carousel-text {
  margin : 10px auto;
  text-align: center;
  color : white ;
  font-size: 1rem;
}
/* about */
.footer {
  padding: 80px 0;
  background: url('https://buckymaler.com/global/assets/img/contact-visual.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 15%;
}

.contact-box {
  background-color: rgb(78, 78, 78);
  padding: 30px;
  border-radius: 12px;
  max-width:330px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.contact-box:hover {
  background-color: #6c6c6c;
}

.info {

  font-size: 1rem ;
  line-height: 1.6;
  margin-bottom: 20px;
}
.social-links {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  

}

.social-links li {
  margin: 10px 0;
  width: 170px;
}

.social-links a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 12px 0 ;
  border-radius: 8px;
  transition: 0.3s ease;
}

.social-links a:hover {
  background-color: yellowgreen;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Hire us */

/* Mission */


.services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.services li {
  border: 2px solid white;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px;
  
}


.contact-form {
  display: flex;
  justify-content: center;
  gap : 40px;
  align-items: center;
  text-align: centers;
  padding: 20px;
  width: 100%;
}
.form-group label {
  margin-bottom: 10px;
}
.form-group input {
  background-color: transparent;
  padding: 15px;
  border : none;
  border-bottom: 2px solid white;
  outline: none;
  text-align: center;
  color : white;
}
::placeholder {
  color : rgb(155, 155, 155);
}
.hire-btn {
  padding: 12px 30px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.hire-btn:hover {
  background: rgb(75, 219, 75);
}


.mission {
  background: red;
  text-align: center;
  background-color : black;
  height : 100vh;
  width : 100vw;
  padding-top : 80px;
}

.mission-text {
  padding: 75px 30px;
}
/* Responsive */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }
 
  .nav-links li {
    margin: 0;
  }

  .vertical-nav {
    left : -15px;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .footer{
    padding-right: 0;
    align-items: center;
  }

  .main {
    height: auto;
  }
    .logo {
    font-size: 1.2rem;
  }

  .side-menu a {
    font-size: 1rem;
  }
  .mission{
    height: auto;
  }
}



